<% include layout/head.ejs%>
<script type="text/javascript" src="/javascripts/avatarPageLogic.js"></script>
</head>
<body>
<div class="container-fluid">
    <!--MENU-->
<% include layout/menu.ejs%>
    <!--The AVATAR-->
    <div class="row justify-content-center">

    <div class="w-100 d-block p-1 m-1"></div>
        <h3><%= title %></h3>

        <div class="w-100 d-block p-1 m-1"></div>
        <!--The AVATAR GRID-->
        <div class="col-8 col-sm-4 col-lg-3 col-xl-2">
            <div id="grid" class="w-100" style="text-align:center;"></div>
        </div>

        <div class="w-100 d-block p-1 m-1"></div>
       <!-- <button class="tooLong btn btn-info col-6 col-sm-5 col-md-3 col-lg-2 col-xl-2 m-2" onclick="getImg()">Download Avatar</button>-->
</div>
    <!--Likert scale-->
<% include layout/likert.ejs%>
</div>
<% include layout/footer.ejs%>