<%include layout/head.ejs%>
<link rel='stylesheet' href='/stylesheets/choose_avatar.css'/>
<script  type='text/javascript' src="/javascripts/chooseAvatarPageLogic.js"></script>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <h1><%= title %></h1>
        <div class="w-100"></div>
        <p>Choose your avatar representation:</p>
    </div>
    <div class="row">
        <form class="m-auto d-block" onsubmit="redirectToAvatar()" action="/spotify/updateUserAvatarType" method="post">
    <label>
        <input type="radio" name="gender" value="male" required/>
        <img src="/images/male.jpg">
    </label>
    <label>
        <input type="radio" name="gender" value="female" />
        <img src="/images/female.jpg">
    </label>
    <div class="d-block w-100 m-1 p-1"></div>
    <input class="btn btn-info col-9 col-sm-7 col-lg-5 mx-auto d-block" type="submit" value="Submit">
</form>
    </div>
</div>
<div class="w-100 d-block p-5 m-md-5"></div><div class="w-100 d-block p-2 m-2"></div>
<% include layout/footer.ejs%>