<%include layout/head.ejs%>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<br>
<ul>
    <li><a href="/spotify/thread" target="_blank">Users</a> </li>
    <li><a href="/spotify/thread2" target="_blank">Users record</a> </li>
    <li><a href="/spotify/thread3" target="_blank">Music features</a> </li>
    <li><a href="/spotify/thread5" target="_blank">Users Opinion</a> </li>
    <li><a href="/spotify/thread6" target="_blank">Users Activity</a> </li>
    <li><a href="/spotify/thread7" target="_blank">User Downloads</a> </li>
    <li><a href="/spotify/thread8" target="_blank">User seen data</a> </li>
    <li><a href="/spotify/thread9" target="_blank">User changed avatar</a> </li>
    <li><a href="/spotify/thread10" target="_blank">User seen My Day</a> </li>
    <li><a href="/spotify/thread11" target="_blank">User seen My Day Comments</a> </li>
</ul>

<% include layout/footer.ejs%>