<% include layout/head.ejs%>
<link rel='stylesheet' href='/stylesheets/loader.css'/>
<script src="/socket.io/socket.io.js"></script>
<script  type='text/javascript' src="/javascripts/loadingScreenPageLogic.js"></script>

</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <h1><%= title %></h1> <div class="w-100 d-block m-1 p-1"></div>
        <p>Fetching data</p>
    </div>
    <div class="row justify-content-center">
        <div id='loader' class="loader"></div>
        <div class="w-100 d-block m-1 p-1"></div>
        <div class="tooLong">Hmmm, this seems to be taking a lot of time. Press here to start over the process:</div>
        <div class="w-100 d-block m-1 p-1"></div>
        <button class="btn btn-info col-9 col-sm-7 col-lg-5 mx-auto tooLong" onclick="reset()">Reset</button>
    </div>
    <div class="w-100 d-block p-5 m-sm-5"></div>
    <div class="w-100 d-block p-4 m-4"></div>
</div>
<% include layout/footer.ejs%>