a {
  color: #00B7FF;
}
html,body {padding:0;margin:0;}

.tooLong {
    display: none !important;
}

.likertHide {
    display: none !important;
}

.aboutAvatar {
    display: none !important;
}

.aboutPrivacy {
    display: none !important;
}