<div id="comment" class="row col-12 col-md-10 col-lg-8 mx-auto mt-3 justify-content-center">
    <form onsubmit="hideComment()" class="card  mx-auto" action="/spotify/userOpinionMyDay" method="post">
        <div class="card-header">
            [Optional] We would appreciate if you have an opinion on the shown musicAvatars
        </div>
        <div class="row justify-content-center card-block py-1">
            <div class="form-group col-12 mx-0 px-0 mb-1">
                <textarea class="form-control" rows="3" name="comment" placeholder="Your opinion..." required></textarea>
            </div>
            <input class="btn btn-info col-12 mx-auto" type="submit" value="Submit">
        </div>
    </form>

</div>