<div class="w-100 d-block" id="footer">
<div class="container">
    <hr>
    <div class="row justify-content-center">
        <footer class="p-1 justify-content-center">
            <small class="col-12 justify-content-center">If you have any questions or you want to report a bug please feel free to contact:
                <a href="mailto:stefan_aleksik@live.com?Subject=musicAvatar">stefan_aleksik@live.com</a>
            </small>
            <span class="w-100"></span>
            <small class="col-12 justify-content-center">
                <br><a href="https://github.com/StefanAleksik/advancedtopic" target="_blank">Git repo of the project</a>
            </small>
        </footer>
    </div>
</div>
</div>
</body>
</html>