<div class="w-100 d-block" id="footer">
<div class="container">
    <hr>

        <footer class="p-1 justify-content-center col-10 row mx-auto text-center">
            <p class="mx-auto small p-0 my-0">If you have any questions or you want to report a bug please feel free to contact:
                <a href="mailto:stefan_aleksik@live.com?Subject=musicAvatar">stefan_aleksik@live.com</a>
            </p>


            <div class="d-block w-100 p-1 m-1"></div>
        </footer>

</div>
</div>
</body>
</html>