<div class="row">
    <div class="row col-12 col-md-10 col-lg-6 mx-auto">
    <div class="btn-group d-block">
        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
        </button>
        <div class="dropdown-menu">
            <a id='backToAvatar' class="tooLong dropdown-item" href="/avatar">Go to Avatar</a>
            <a id='aboutAvatar' class="tooLong dropdown-item" href="/instruction">About Avatar</a>
            <a id='switchAvatar' class="tooLong dropdown-item" href="/chooseAvatar">Switch Avatar representation</a>
            <a id='downloadAvatar' class="tooLong dropdown-item" onclick="getImg()" href="#">Download Avatar</a>
            <a id="privacy" class="tooLong dropdown-item" href="/privacy">Privacy</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" onclick="reset()" href="#">Logout</a>
        </div>
    </div>
    </div>
</div>